ion-content{
background:linear-gradient(to bottom, #005aa7, #fffde4)
}
h2 {
  text-align: center;
  color: #ffffff;
}

p {
  text-align: justify;
  font-family: "Yu Mincho", sans-serif;
  color: #ffffff;
}

ion-item {
  background: #ffffff;
}
