ion-content{
 background: linear-gradient(to right, #1d976c, #93f9b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2 {
  text-align: center;
  color: #ffffff;
}

p {
  text-align: justify;
  font-family: "Yu Mincho", sans-serif;
  color: #ffffff;
}

ion-item {
  background: #ffffff;
}
